#header-outer-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#head-box {
    width: 960px;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.6);
}
#left-box {
    width: 300px;
    height: 400px;
    margin-right: 30px;
}
#left-image {
    width: 300px;
    height: 400px;
    overflow: hidden;
    object-fit: contain
}
.right-box {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#right-upper-box {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#info-box {
    width: 440px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
#name {
    font-size: 60px;
}
.row {
    height: 35px;
    font-size: 25px;
}
#right-image-box {
    width: 165px;
    height: 220px;
}
#right-image {
    width: 165px;
    height: 220px;
    overflow: hidden;
    object-fit: contain
}
#right-down-box {
    width: 500px;
    height: 100px;
}
.split {
    width: 0px;
    background-color: black;
}
.cell {
    width: 50px;
    background-color: azure
}