#outer-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('/img/1919.png');
    /* 设置背景图片 */
    background-size: cover !important;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#head-box {
    width: 100vw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.6);
}

#left-box {
    width: 28vw;
    height: 86vh;
    margin-right: 30px;
}

#left-image {
    width: 28vw;
    height: 86vh;
    overflow: hidden;
    object-fit: contain
}

.right-box {
    width: 60vw;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-upper-box {
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#info-box {
    width: 45vw;
    height: 47vh;
    display: flex;
    flex-direction: column;
}

#name {
    font-size: clamp(20px, 10vh, 60px);
    /* font-size: 60px; */
}

.row {
    height: 35px;
    font-size: clamp(9px, 4.2vh, 25px);

    /* font-size: 25px; */
}

#right-image-box {
    width: 15vw;
    height: 47vh;
}

#right-image {
    width: 15vw;
    height: 30vh;
    overflow: hidden;
    object-fit: contain
}


#right-down-box {
    width: 41vw;
    height: 13vh;
}

.split {
    width: 0px;
    background-color: black;
}

.cell {
    width: 50px;
    background-color: azure
}